<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get Weather Conditions</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/styles.css')}}"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="title-index">Get Weather Conditions</h1>
      <form action="/weather" method="get" class="city-form">
        <input
          type="text"
          name="city"
          id="city"
          placeholder="Enter a city"
          required
        />
        <button type="submit">submit</button>
      </form>
    </div>
  </body>
</html>
